<!DOCTYPE html>



<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="common/header::common-header"/>
<body>
<nav th:replace="common/header::common-navbar"/>
<div class="page-title" th:text="${'Dashboard Overview'}">Lecturer's Dashboard</div>
<div class="grid-container grid-parent grid-100 dashboard">

    <section class="grid-100">
        <div class="course-tabs grid-100 grid-parent">
            <ul class="grid-100 timeline">
                <li class="left active" rel="profile">Profile</li>
                <li class="left " rel="current">Enrolled Courses</li>
                <li class="left" rel="past">Previously Enrolled</li>
                <li class="left  " rel="all_courses">Available Courses</li>
                <li class="left" rel="view_grades">View Grades</li>

            </ul>

        </div>

        <article class="grid-100 classes">
            <div class="header-dashboard color"> Your Grades</div>

            <div class="dashboard-main">
                <!--Start of view Grades-->

                <table class="highlight course-table " id="view_grades">
                    <tr>
                        <th>Id</th>
                        <th>Title</th>
                        <th>Semester</th>
                        <th>Year</th>
                        <th>Grades</th>
                    </tr>
                    <tr th:each="enrollment,iterator:${student.conductionSet}">
                        <td  th:text="${iterator.index+1}"></td>
                        <td  class="course-title">
                            <a th:text="${enrollment.course.title}" href="#" > </a>
                        </td>


                        <td th:text="${#strings.capitalize(enrollment.semester.toString().toLowerCase())}"></td>

                        <td th:text="${enrollment.year}"></td>
                        <td>
                            <a href="#" th:href="@{'/student/grades/'+${enrollment.id}}" th:text="${'View Grades'}">View Details</a>

                        </td>


                    </tr>


                </table>
                <!--Start of view grades-->
                <div class="dash-profile grid-100 grid-parent active" id="profile">
                    <div class="profile-pic grid-20">
                        <img class=" profile-img " src="/images/passport.jpg">
                    </div>
                    <div class="grid-30">
                        <div class="text">
                            Username: <span th:text="${student.username}"></span>
                        </div>
                        <div class="text">
                            Full Name: <span th:text="${student.firstName +' '+ student.surname}"></span>
                        </div>
                        <div class="text">
                            Email: <span th:text="${student.email}"></span>
                        </div>
                        <div class="text">
                            Major:<span th:text="${student.major}"></span>
                        </div>
                        <div class="text">
                            Reset Password: <span><a href="#"> password</a></span>
                        </div>


                    </div>


                </div>
                <!--End of view grades-->

                <!--Start of available courses-->
              <form>
                <table class="course-table " id="all_courses">
                    <tr>
                        <th>Id</th>
                        <th>Title</th>
                        <th>Capacity</th>
                        <th>Available Seats</th>
                        <th></th>

                    </tr>
                    <tr th:each="courseSession,iterator:${courses}">
                        <td th:text="${iterator.index+1}"></td>
                        <td class="course-title">
                            <a th:text="${courseSession.course.title}" href="#"> </a>
                        </td>
                        <td th:text="${courseSession.capacity}"></td>
                        <td th:text="${courseSession.capacity - courseSession.studentCommands.size()} "></td>
                        <td><a href="#" th:href="@{'/student/class/'+${courseSession.id}+'/enroll'}">Enroll</a></td>


                    </tr>


                </table>
              </form>
                <!--End of available courses-->

                <!--Find current enrollment-->

                <table class="course-table " id="current">
                    <tr>
                        <th>Id</th>
                        <th>Title</th>
                        <th>Lecturer's Name</th>
                        <th>Contact</th>

                    </tr>
                    <tr th:each="enrollment,iterator:${student.conductionSet}">
                        <td th:text="${iterator.index+1}"></td>
                        <td class="course-title">
                            <a th:text="${enrollment.course.title}" href="#"> </a>
                        </td>
                        <td th:text="${enrollment.lecturer.firstName+' '+enrollment.lecturer.surname}"></td>
                        <td th:text="${enrollment.lecturer.email} "></td>


                    </tr>


                </table>
                <!--End of find current enrollments-->

                <!--Start of previously enrolled-->

                <table class="course-table " id="past">
                    <tr>
                        <th>Id</th>
                        <th>Title</th>
                        <th>Departmental Code</th>
                        <th>Lecturer's Name</th>
                        <th>Contact</th>

                    </tr>
                <!--    <tr th:each="enrollment,iterator:${pastEnrollments}">
                        <td th:text="${iterator.index+1}"></td>
                        <td class="course-title">
                            <a th:text="${enrollment.courseConduction.course.title}" href="#"> </a>
                        </td>
                        <td th:text="${ enrollment.courseConduction.course.departmentalCode}"></td>
                        <td th:text="${enrollment.courseConduction.lecturer.firstName+' '+enrollment.courseConduction.lecturer.surname}"></td>
                        <td th:text="${enrollment.courseConduction.lecturer.email} "></td>-->


                    </tr>


                </table>
                <!--End of previously enrolled-->

            </div>
        </article>


    </section>

</div>
</body>
<script src="/webjars/jquery/3.3.1-1/jquery.js"></script>
<script src="/js/dashboardScript.js"></script>
</html>
