<!DOCTYPE html>
<html lang="en"  xmlns:th="http://www.thymeleaf.org">
<head th:fragment="common-header">
    <meta name="viewport" content="
      width=device-width,
      initial-scale=1,
      minimum-scale=1,
      maximum-scale=1
    " />
    <meta charset="UTF-8">


    <link href="https://fonts.googleapis.com/css?family=Raleway" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="/webjars/unsemantic/1.1.3/assets/stylesheets/unsemantic-grid-responsive.css">
    <link rel="stylesheet" type="text/css" href="/css/normalize.css">
    <link rel="stylesheet" type="text/css" href="/css/style.css">
    <link href="https://fonts.googleapis.com/css?family=Economica" rel="stylesheet">

    <title>Edit Course Capacity</title>
</head>
<body>
<nav th:replace="common/header::common-navbar"/>
<div class="grid-container grid-parent grid-100 edit_conduction">
    <div class="username"><span>Chuka Nwobi [30327463] <a href="#">Logout</a></span></div>
    <h1 >Editing Course  Capacity</h1>

    <aside class="grid-25 ">

        What is Lorem Ipsum? Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but




    </aside>

    <section class="grid-70">

        <article class="grid-100 profile course_view_form">
            <header> Course Profile</header>
            <form th:object="${class}" class="course-capacity">
                <div >Course Title:<span class="title" th:text="${class.course.title}"> Advanced Thermodynamics</span> </div>
                <div th:unless="${class.course.departmentalCodes==null}">Course Code<span th:text="${class.course.departmentalCodes+'00'+class.course.id}"> 2017</span> </div>
                <div>Capacity:<input type="number" class="form-text" placeholder="Please enter capacity" th:field="*{capacity}"> </div>


                <div>Semester:<span th:text="${#strings.capitalize(class.semester.toString().toLowerCase())}"> Second</span> </div>
                <div>Year:<span th:text="${class.year}"> 2017</span> </div>
                <button> Submit </button>
            </form>

        </article>


    </section>


</div>

<!-- end of container-->

</body>
</html>