<!DOCTYPE html>


<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head th:replace="common/header :: common-header"/>

<body>

<nav th:replace="common/header::common-navbar"/>



<div class="grid-container">
    <div class="username"><span>Chuka Nwobi [30327463] <a href="#">Logout</a></span></div>
    <table class="highlight grid-100">
        <thead>
        <tr>
            <th>ID</th>
            <th>Image</th>
            <th>Username</th>
            <th>First Name</th>
            <th>Surname</th>
            <th>Email</th>
            <th>Major</th>



        </tr>
        <tr th:each="student:${students}">
            <td th:text="${student.id}">1</td>
            <td ><img th:unless ="${student.image !=null}"  src="/images/no-image-icon.png">

            </td>
            <td th:text="${student.username}">jdoe</td>
            <td th:text="${student.firstName}">John</td>
            <td th:text="${student.surname}">Doe</td>
            <td th:text="${student.email}">j.doe@yahoo.com</td>
            <td th:text="${student.major}"> Melbourne</td>


        </tr>


        </thead>


    </table>

</div>
</body>

</html>
