<!DOCTYPE html>


<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head th:replace="common/header :: common-header"/>

<body>

<nav th:replace="common/header::common-navbar"/>



<div class="grid-container">
    <div class="username"><span>Chuka Nwobi [30327463] <a href="#">Logout</a></span></div>
    <table class="highlight grid-100">
        <thead>
        <tr>
            <th>ID</th>
            <th>Image</th>
            <th>First Name</th>
            <th>Surname</th>
            <th>Email</th>
            <th>Campus</th>
            <th></th>


        </tr>
        <tr th:each="lecturer:${lecturers}">
            <td th:text="${lecturer.id}">1</td>
            <td ><img th:unless ="${lecturer.image !=null}"  src="/images/no-image-icon.png">

            </td>
            <td th:text="${lecturer.firstName}">John</td>
            <td th:text="${lecturer.surname}">Doe</td>
            <td th:text="${lecturer.email}">j.doe@yahoo.com</td>
            <td th:text="${lecturer.campus}"> Melbourne</td>
            <td><a href="#" th:href="@{'/admin/lecturer/'+${lecturer.id}+'/view/courses'}" th:text="${'View Details'}">View Details</a> </td>


        </tr>


        </thead>


    </table>

</div>
</body>

</html>
