<!DOCTYPE html>


<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head th:replace="common/header :: common-header"/>


<body>

<nav th:replace="common/header::common-navbar"/>

<div class="grid-container grid-container grid-parent grid-100  ">
    <div class="username grid-100"><span class="float-left" th:text="${'[**'+courseConduction.course.title+'--Semester:'+#strings.capitalize(#strings.toLowerCase(courseConduction.semester))+'--Year:'+courseConduction.year+'**]'} "> </span><span class="float-right" th:text="${#authentication+'['+#authorization+']'}">Chuka Nwobi [30327463] <a href="#">Logout</a></span></div>




      </aside>-->
    <div class="grid-100 table-students input-field">
        <h3 th:text="${''}"></h3>
        <form th:object="${courseConduction}" th:action="@{/lecturer/class/upload-grades}" method="post">
            <input type="hidden" th:field="*{id}" >
            <input type="hidden" th:field="*{lecturer.id}">

        <table class="highlight ">
            <thead>
            <tr>
                <th>ID</th>
                <th>Image</th>

                <th>First Name</th>
                <th>Surname</th>
                <th>Email</th>
                <th>Assessment 1</th>
                <th>Assessment 2</th>
                <th></th>


            </tr>
            </thead>

            <tr th:each="enrollment,iterator:${courseConduction.enrollments}">
                <input type="hidden" th:field="*{enrollments[__${iterator.index}__].assessment.id}">

                <td th:text="${iterator.index+1}">1</td>
                <td ><img th:unless ="${enrollment.student.image !=null}"  src="/images/no-image-icon.png">

                </td>

                <td th:text="${enrollment.student.firstName}">John</td>

                <td th:text="${enrollment.student.surname}">Doe</td>
                <td th:text="${enrollment.student.email}">j.doe@yahoo.com</td>
                <td><input type="number" min="0.0" max="100" step="any" th:field="*{enrollments[__${iterator.index}__].assessment.assessmentOne}">

                </td>
                <td><input type="number" min="0.0" max="100" step="any" th:field="*{enrollments[__${iterator.index}__].assessment.assessmentTwo}"></td>

                <input type="hidden" class="form-text" th:field="*{enrollments[__${iterator.index}__].assessment.id}">
                <input type="hidden" class="form-text" th:field="*{enrollments[__${iterator.index}__].assessment.id}">


            </tr>






        </table>
            <button  type="submit" class="submit-grades right"> Submit</button>
        </form>
    </div>

</div>
</body>

</html>
