

article{
 div.content{
   margin: 5vw;
div{
 font-weight: bolder;
  text-align: center;
}
   label{

     display:block !important;
     margin: auto !important;
     text-align: center;
   }
   input{
     width: 17vw !important;
     display: block;
     border-radius: 14px !important;

     height: 5vh !important;

    padding-left: 2vw !important;
     margin: auto!important;
   }
   button{
     display: block;
     margin: auto;
     margin-top: 12px;
     width: 130px;
     border-radius: 12px;
   }
 }

}