body {

    margin: 0;
    padding: 0;
    font-family: 'Raleway', sans-serif;
    line-height: 1.7em;
}
nav{
    background-color: red;
    width: 100%;
    line-height: inherit;
}
nav ul{
    padding: 0;
    margin: 0;

    overflow: hidden;


}
nav ul li{
    float: left ;
    list-style-type: none;
    color: white;
    display: inline-block;

    padding: 20px;
}
nav ul li:hover{

    background-color: white;
    color: red;
}

a{
    color:inherit;
    text-decoration: none;
}
.username a{
    text-decoration: underline;
    color: red;
}
.username{
    float: right;
    display: inline-block;


    margin: 0;
    padding: 0;
}

table{

}
.grid-container{
    display: block;




}

.courseList, .profile{
    margin: 0;
    margin-top: 12%;

    border-radius: 12px;
    border: solid #D4D6D5 thin;
    background-color: #EFEDE2;
}
.courseList header,.profile header{
    font-weight: bolder;
    text-align: center;
    padding-right: 0;
    padding-left: 0;
    border-bottom: solid #D4D6D5 thin;
}
.courseList .title{
    color: #53A6BB;
    font-weight: bolder;
}
.courseList .capacity, .caption{
    font-weight: bolder;
}
.courseList .course_tile{
    border-bottom: solid #D4D6D5 thin;

}

.profile div{

    font-weight: bolder;
    padding: 2%;
}
.profile div span a:hover{
    color: red;
}
.profile div span{

    float: right;
    font-weight: 100;
    margin-left: 20%;
}