body {

    margin: 0;

    font-family: 'Raleway', sans-serif;
    line-height: 1.7em;
}
.grid-container{
    margin-top: 65px
}
nav{
    background-color: #56A8FF;
    width: 100%;
    line-height: inherit;
    position: fixed;
    top: 0;


}
nav ul{
    padding: 0;
    margin: 0;

    overflow: hidden;


}
nav ul li{
    float: left ;
    list-style-type: none;
    color: white;
    display: inline-block;

    padding: 20px;
}
nav ul li:hover{

    background-color: white;
    color: #56A8FF;
}

a{
    color:inherit;
    text-decoration: none;
}
.username a{
    text-decoration: underline;
    color: red;
}
.username{
    float: right;
    display: inline-block;


    margin: 0;
    padding: 0;
}

table{

}
.grid-container{
    display: block;




}

.courseList, .profile{
    margin: 0;


    border-radius: 12px;
    border: solid #D4D6D5 thin;
    background-color: #EFEDE2;
}
.courseList header,.profile header{
    font-weight: bolder;
    text-align: center;
    padding-right: 0;
    padding-left: 0;
    border-bottom: solid #D4D6D5 thin;
}
.courseList .title,.profile div span.title{
    color: #53A6BB;
    font-weight: bolder;
}
.courseList .capacity, .caption{
    font-weight: bolder;
}
.courseList .course_tile{
    border-bottom: solid #D4D6D5 thin;

}

.profile div{

    font-weight: bolder;
    padding: 2%;
}
.profile div span a:hover,.course_tile a:hover{
    color: red;
}
.profile div span{

    float: right;
    font-weight: 100;
    margin-left: 20%;
}

.dashboard h1, .edit_conduction h1{
    text-align: center;
    margin-bottom: 4%;
}
.edit_conduction h1{
    margin-left: 34%
}
.course_tile a{
    float: right;
}
.course_tile{

    display: block;
    padding: 2%;
    margin: 2%;
}
.form-text{

    border-radius: 4px;
    float: right;
}

input {
    border: 3px solid white;
    -webkit-box-shadow:
            inset 0 0 8px  rgba(0,0,0,0.1),
            0 0 16px rgba(0,0,0,0.1);
    -moz-box-shadow:
            inset 0 0 8px  rgba(0,0,0,0.1),
            0 0 16px rgba(0,0,0,0.1);
    box-shadow:
            inset 0 0 8px  rgba(0,0,0,0.1),
            0 0 16px rgba(0,0,0,0.1);
    padding: 5px;
    background: rgba(255,255,255,0.5);
    margin: 0 0 10px 0;
    height: auto
}
input:not([type=submit]):not([type=file]) {
    /* omg so much cleaner */
}
input[type="number"]::placeholder{
    font-size: 90%;
    font-style: italic;

}

.course-capacity button, input[type="button"]{
    display: block;
    text-align: center;

    text-decoration: none;
    display: block;
    font-weight: bold;
    color:black;

    text-decoration: none;
    background-color: #d1cbab;

    padding:10px 5px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    border: 5px solid #f5f4ed;
    box-shadow: 5px 5px 0px 0px rgba(0, 0, 0, 0.15);
    width: 24%;
    margin-left: 43%;
    margin-bottom: 2%;
}


.course-capacity button:active{
    position: relative;
    top:3px;
    left:2px;
    box-shadow: 0px 0px;
}

.course-capacity button:hover, .error-404 input[type="button"]:hover{
    border: 5px solid #e9e6d7;
    background-color: #fff;
    color:#a79b5f;
    font-weight: bold;
}
.error-404 input[type="button"]:hover{
    color: #53A6BB;
}
/*---error 404 page styles--*/

section.error-404{
    margin-left: 25%;
    width: 50%;
    height: 50%;

}

h1.error-404{
    margin-left: 25%;

    margin-top: 10%;
}


.error-404 input[type="button"]{
    border: 5px solid  #d1cbab;
    background-color: #f5f4ed;

    font-size: 100%;
    margin-left: 37%;
    margin-bottom: 20%;


}
.error-404 img{
    width: 100%;
    height: 100%;
}