<!DOCTYPE html>


<html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head th:fragment="common-header-forms">
    <meta name="viewport" content="
      width=device-width,
      initial-scale=1,
      minimum-scale=1,
      maximum-scale=1
    " />
    <meta charset="UTF-8">



    <link href="https://fonts.googleapis.com/css?family=Raleway" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-rc.2/css/materialize.min.css">

    <link rel="stylesheet" type="text/css" href="/webjars/unsemantic/1.1.3/assets/stylesheets/unsemantic-grid-responsive.css">


    <link rel="stylesheet" type="text/css" href="/css/style.css">
    <link href="https://fonts.googleapis.com/css?family=Economica" rel="stylesheet">
    <title th:text="${lecturer.firstName+' profile & courses '}">Profile & Course view</title>
</head>
<body>

<nav th:replace="common/header::common-navbar"/>

<div class="grid-container grid-parent grid-100 dashboard">
    <div class="username"><span>Chuka Nwobi [30327463] <a href="#">Logout</a></span></div>
    <h1>Welcome to Your Dash Board</h1>
    <aside class="grid-25 profile-aside">

        <table>
            <tr>
                <th>LecturerID:</th>
                <th>Full name:</th>
                <th>Email Address:</th>
                <th>Campus:</th>
                <th>Password</th>
            </tr>

            <tr>
                <td><span th:text="${lecturer.id}"> 1</span> </td>
                <td>   <span th:text="${lecturer.firstName+' '+lecturer.surname}">Chuka </span>  </td>
                <td><span th:text="${lecturer.email}"> c.nwobi@outlook.com</span></td>
                <td>s<span th:text="${lecturer.campus}"> Mt. Helen</span></td>
                <td><span> <a href="#">reset password</a></span> </td>
            </tr>

        </table>




    </aside>
    <section class="grid-70">

        <!--end of profile article tage-->



        <article class="grid-100 courseList">
            <header> Courses You Lecture</header>

            <div class="course_tile" th:each="courseSession:${coursesConducted}">

                <div class="title" th:text="${courseSession.course.title}"> Advanced ThermoDynamics</div>
                <div><span class="capacity" >Capacity:</span> <span th:text="${courseSession.capacity+' enrollments'}">120 Students</span>
                </div>
                <div><span class="capacity">Currently Enrolled :</span><span th:text="${courseSession.enrollments.size()+ ' enrollments'}"></span><a th:href="@{'/lecturer/'+${courseSession.lecturer.id}+'/class/'+${courseSession.id}+'/students-list'}">View Students</a> </div>
                <div><span class="capacity" >Semester:</span> <span th:text="${#strings.capitalize(courseSession.semester.toString().toLowerCase())}">120 Students</span>
                </div>
                <div> <span class="capacity" >Year:</span><span th:text="${courseSession.year}"> 2019 </span> <a th:href="@{'/lecturer/'+${courseSession.lecturer.id}+'/class/'+${courseSession.id}+'/editCapacity'}">Edit Capacity   </a></div>

            </div>


        </article>

    </section>

</div>
</body>
<script src="/webjars/materializecss/1.0.0-rc.2/js/materialize.js"/>

</html>
